html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #011F3F;

  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  line-height: 1;
  margin: 5%;
  margin-bottom: 2%;
  padding-top: 5%;
}

.container {
  display: block;
  width: 80%;
  margin: 5%;
}

.btn {
  margin: 25px;
  display: inline-block;
  width: 20vh;
  height: 20vh;

  border: 10px solid #fef2bfb0;
  border-radius: 20%;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh; 
  }

  #level-title {
    font-size: 1.5rem;
  }

  .btn {
    width: 10vh;
    height: 10vh;
    border: 5px solid #fef2bfb0;
  }
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn.disabled {
  pointer-events: none; /* Disable cursor clicks */
}
